.footer {
  background-image: url(../../../assets/images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.67rem 2.67rem 0 2.67rem;
  &-inner {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2.67rem;
    max-width: 18.6rem;
    padding-top: 1.07rem;
    &__title {
      @include header3;
      color: #ffffff;
    }
    &__email {
      margin-left: 50px;
      min-height: 2.1333rem;
      @include header4;
      color: $footer-link;
      text-decoration: none;
      position: relative;
      &::before {
        position: absolute;
        content: url(../../../assets/icons/icon-email.svg);
        left: -50px;
        top: -5px;
      }
    }

    &__tel {
      @include header4;
      margin-left: 50px;
      min-height: 2.1333rem;
      color: $footer-link;
      text-decoration: none;
      position: relative;
      &::before {
        position: absolute;
        content: url(../../../assets/icons/icon-phone.svg);
        left: -50px;
        top: -5px;
      }
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2.27rem;
    max-width: 20.2rem;
    padding-top: 1.07rem;
    &__title {
      @include header3;
      color: #ffffff;
    }
    &__first {
      display: block;
      margin-left: 50px;
      min-height: 2.1333rem;
      @include header4;
      color: $footer-link;
      text-decoration: none;
      position: relative;
      &::before {
        position: absolute;
        content: url(../../../assets/icons/icon-marker.svg);
        left: -50px;
        top: 5px;
      }
    }
    &__second {
      display: block;
      margin-left: 50px;
      @include header4;
      color: $footer-link;
      text-decoration: none;
      min-height: 2.1333rem;
      position: relative;
      &::before {
        position: absolute;
        content: url(../../../assets/icons/icon-marker.svg);
        left: -50px;
        top: -5px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .footer {
    padding: 2rem 2rem 0 2rem;
    &-inner {
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 4rem;
    }

    &__contacts {
      padding-top: 0;
    }
    &__address {
      padding-top: 0;
    }

    &__img {
      padding-top: 4.33rem;
    }
  }
}

@media (max-width: 700px) {
  .footer {
    &-inner {
      row-gap: 3rem;
    }

    &__contacts {
      justify-content: center;
      row-gap: 3rem;

      &__title {
        @include header3-mobile;
        text-align: center;
      }
    }

    &__address {
      justify-content: center;
      row-gap: 3rem;
      &__title {
        text-align: center;
        @include header3-mobile;
      }
    }

    &__img {
      padding-top: 0rem;
    }
  }
}

@media (max-width: 340px) {
  .footer {
    padding: 2rem 0.67rem 0 0.67rem;
  }
}
