// Colors
$logoTitle: rgba(241, 205, 179, 1);

$navLink-normal: rgba(205, 205, 205, 1);
$navLink-active: rgba(250, 250, 250, 1);
$navLink-hover: rgba(250, 250, 250, 1);
$navLink-border: rgba(241, 205, 179, 1);

$footer-link:rgba(241, 205, 179, 1);

$burgerBackground: rgba(41, 41, 41, 1);

$mainTitle: rgba(255, 255, 255, 1);
$mainSubtitle: rgba(205, 205, 205, 1);

$buttonText: rgba(41, 41, 41, 1);
$buttonBackground-normal: rgba(241, 205, 179, 1);
$buttonBackground-hover: rgba(253, 220, 196, 1);

$header3: rgba(84, 84, 84, 1);
$header4: rgba(84, 84, 84, 1);
$header5: rgba(84, 84, 84, 1);
$paragraph-S: rgba(178, 178, 178, 1);

$donationBackground: rgba(246, 246, 246, 1);
//mixin
@mixin header2($fz: 2.93333rem, $ffam: Georgia, $fw: 400, $lh: 3.81333rem) {
  font-size: $fz;
  font-family: $ffam;
  font-weight: $fw;
  line-height: $lh;
}

@mixin header3(
  $fz: 2.33333rem,
  $ffam: Georgia,
  $fw: 400,
  $lh: 3.03333rem,
  $let-spac: 0.14rem,
  $color: $header3
) {
  font-size: $fz;
  font-family: $ffam;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $let-spac;
  color: $color;
  margin-block-start: 0em;
  margin-block-end: 0em;
  letter-spacing: 0.14rem;
}

@mixin header3-mobile {
  font-size: 1.66667rem;
  font-family: Georgia;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.1rem;
}

@mixin header4 {
  font-family: Georgia;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 1.53333rem */
  letter-spacing: 0.08rem;
  color: $header4;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@mixin header4-mobile {
  font-size: 1.66667rem;
  line-height: 130%; /* 2.16667rem */
  letter-spacing: 0.1rem;
}

@mixin header5 {
  font-family: Georgia;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 1.1rem */
  letter-spacing: 0.06rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: $header5;
}

@mixin header5-mobile {
  font-family: Georgia;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 1.6rem */
}

@mixin paragraph-L($fz: 1rem, $ffam: Arial, $fw: 400, $lh: 1.6rem) {
  font-size: $fz;
  font-family: $ffam;
  font-weight: $fw;
  line-height: $lh;
  color: rgba(76, 76, 76, 1);
}

@mixin paragraph-S {
  font-family: Arial;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 400;
  line-height: 150%; /* 1.2rem */
  color: $paragraph-S;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@mixin button(
  $dsp: inline-flex,
  $padding: 1rem 3rem,
  $flex-dir: column,
  $al-item: center,
  $bord-rad: 6.66667rem,
  $bgcolor: $buttonBackground-normal,
  $color: $buttonText,
  $fz: 1.13333rem,
  $ffam: Georgia,
  $fw: 400,
  $lh: 130%,
  $let-spac: 0.068rem
) {
  display: $dsp;
  padding: $padding;
  flex-direction: $flex-dir;
  align-items: $al-item;
  border-radius: $bord-rad;
  background-color: $bgcolor;
  color: $color;
  font-size: $fz;
  font-family: $ffam;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $let-spac;
}
