@import "../normalize.css";
.main-background {
  min-height: 100vh;
  background-image: url(../../../assets/images/start-screen-gradient-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 330px) {
  .main-background {
    min-height: 54.866rem;
    padding-left: 0.67rem;
    padding-right: 0.67rem;
  }
}
html {
  font-size: 15px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  display: block;
  text-decoration: none;
}
.header-title__title {
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: rgb(241, 205, 179);
  margin-bottom: 0.67rem;
  font-family: Georgia;
  font-size: 2.13333rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 2.34667rem */
  letter-spacing: 0.128rem;
}
.header-title__subtitle {
  font-size: 0.86667rem;
  font-family: Arial;
  letter-spacing: 0.08667rem;
  font-weight: 400;
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: #ffffff;
}
.header-nav__burger {
  display: none;
}
.header-nav__list {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0;
  display: flex;
}
.header-nav__list li {
  list-style: none;
}
.header-nav__list li:not(:last-child) {
  margin-right: 2.33rem;
}
.header-nav__link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  text-decoration: none;
  color: rgb(205, 205, 205);
  display: inline-block;
}
.header-nav__link--active {
  border-bottom: 0.2rem solid rgb(241, 205, 179);
  color: rgb(250, 250, 250);
}
.header-nav__link:hover {
  color: rgb(250, 250, 250);
}

@media (max-width: 750px) {
  .header-nav {
    display: none;
  }
  .header-nav__burger {
    transition: all 0.3s;
    display: block;
  }
}
.header-nav--open {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(41, 41, 41);
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav--open ul.header-nav__list {
  flex-direction: column;
  gap: 3rem;
}
.header-nav--open ul.header-nav__list :not(:last-child) {
  margin-right: 0;
}
.header-nav--open a.header-nav__link {
  font-size: 2.13333rem;
  line-height: 160%; /* 3.41333rem */
  width: 100%;
  text-align: center;
}

.header-nav__burger--active {
  transform: rotate(90deg);
  transition: all 0.3s;
}

.NotOnly {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}
.NotOnly-info {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  max-width: 30.66667rem;
  margin-top: 10.87rem;
}
.NotOnly-info__title {
  max-width: 20.66667rem;
}
.NotOnly-info__title-inner {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 2.93333rem;
  font-family: Georgia;
  font-weight: 400;
  line-height: 3.81333rem;
  color: rgb(255, 255, 255);
}
.NotOnly-info__subtitle-inner {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 1rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.6rem;
  color: rgb(76, 76, 76);
  color: rgb(205, 205, 205);
}
.NotOnly-info__button--item:hover {
  background-color: rgb(253, 220, 196);
}
.NotOnly-img__inner {
  display: block;
  width: 100%;
}

@media (max-width: 850px) {
  .NotOnly {
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
  .NotOnly-info {
    margin-top: 0;
    margin-bottom: 6.67rem;
  }
  .NotOnly-info__button {
    text-align: center;
  }
  .NotOnly-img {
    margin-left: auto;
    max-width: 37.9333rem;
  }
}
@media (max-width: 330px) {
  .NotOnly {
    margin-top: 4rem;
  }
  .NotOnly-info {
    margin-top: 0;
    margin-bottom: 7rem;
    align-items: center;
  }
  .NotOnly-info__title {
    max-width: 17rem;
  }
  .NotOnly-info__subtitle {
    text-align: center;
  }
  .NotOnly-info__title-inner {
    text-align: center;
    font-size: 1.66667rem;
    letter-spacing: 0.1rem;
    line-height: 130%; /* 2.16667rem */
  }
  .NotOnly-img {
    margin-left: auto;
    max-width: 17.33rem;
  }
}
.button a {
  display: inline-flex;
  padding: 1rem 3rem;
  flex-direction: column;
  align-items: center;
  border-radius: 6.66667rem;
  background-color: rgb(241, 205, 179);
  color: rgb(41, 41, 41);
  font-size: 1.13333rem;
  font-family: Georgia;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.068rem;
  text-decoration: none;
}

.about {
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding-top: 5.33rem;
  padding-bottom: 6.67rem;
}
.about-info {
  max-width: 28.66667rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-info__title {
  max-width: 24.66667rem;
}
.about-info__text {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 1rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.6rem;
  color: rgb(76, 76, 76);
}

@media (max-width: 800px) {
  .about {
    flex-direction: column;
    gap: 5.33rem;
    align-items: center;
  }
  .about-info__title {
    margin-bottom: 1.67rem;
  }
  .about-info__text:not(:last-child) {
    margin-bottom: 1.67rem;
  }
  .about-picture {
    order: 1;
  }
}
@media (max-width: 470px) {
  .about {
    padding: 2.8rem 0.66667rem;
  }
}
@media (max-width: 350px) {
  .about {
    gap: 2.8rem;
  }
  .about-picture {
    text-align: center;
  }
  .about-picture__img {
    max-width: 86.65%;
  }
  .about-info__title {
    max-width: 19rem;
    margin-bottom: 1.67rem;
    text-align: center;
  }
  .about-info__text:not(:last-child) {
    margin-bottom: 1.67rem;
  }
}
.title h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 2.33333rem;
  font-family: Georgia;
  font-weight: 400;
  line-height: 3.03333rem;
  letter-spacing: 0.14rem;
  color: rgb(84, 84, 84);
  margin-block-start: 0em;
  margin-block-end: 0em;
  letter-spacing: 0.14rem;
}

@media (max-width: 350px) {
  .title h3 {
    font-size: 1.66667rem;
    font-family: Georgia;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.1rem;
  }
}
.help {
  padding-top: 5.33rem;
  padding-bottom: 6.67rem;
  max-width: 68.4rem;
  margin: 0 auto;
}
.help__title {
  margin: 0 auto;
  text-align: center;
  max-width: 20.53rem;
  margin-bottom: 4rem;
}
.help__title-inner {
  font-size: 2.33333rem;
  font-family: Georgia;
  font-weight: 400;
  line-height: 3.03333rem;
  letter-spacing: 0.14rem;
  color: rgb(84, 84, 84);
  margin-block-start: 0em;
  margin-block-end: 0em;
  letter-spacing: 0.14rem;
}
.help__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.help__icons-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.help__icons-item:nth-last-child(n+5) {
  margin-bottom: 3.67rem;
}
.help__icons-item__picture {
  margin-bottom: 2rem;
}
.help__icons-item__text {
  text-align: center;
  font-family: Georgia;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 1.53333rem */
  letter-spacing: 0.08rem;
  color: rgb(84, 84, 84);
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media (max-width: 800px) {
  .help__icons-item {
    width: 30%;
  }
  .help__icons-item:nth-last-child(n+4) {
    margin-bottom: 3.67rem;
  }
}
@media (max-width: 500px) {
  .help {
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .help__title-inner {
    font-size: 1.66667rem;
    line-height: 130%; /* 2.16667rem */
    letter-spacing: 0.1rem;
  }
  .help__icons {
    justify-content: flex-start;
  }
  .help__icons-item {
    width: 50%;
  }
  .help__icons-item:nth-last-child(n+3) {
    margin-bottom: 2rem;
  }
}
.inAddition-wrapper {
  background-color: rgb(246, 246, 246);
}
.inAddition-inner {
  display: flex;
  justify-content: space-between;
  max-width: 61rem;
  margin: 0 auto;
  padding-top: 5.33rem;
  padding-bottom: 6.67rem;
}
.inAddition-inner__img-item {
  display: block;
  width: 100%;
}
.inAddition-inner__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 25.33rem;
}
.inAddition-inner__info__title-item {
  font-size: 2.33333rem;
  font-family: Georgia;
  font-weight: 400;
  line-height: 3.03333rem;
  letter-spacing: 0.14rem;
  color: rgb(84, 84, 84);
  margin-block-start: 0em;
  margin-block-end: 0em;
  letter-spacing: 0.14rem;
}
.inAddition-inner__info__subtitle-item {
  font-family: Georgia;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 1.1rem */
  letter-spacing: 0.06rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: rgb(84, 84, 84);
}
.inAddition-inner__info__card {
  display: flex;
  justify-content: space-between;
  max-width: 23.26rem;
  padding: 0.66667rem 1rem;
  background-color: rgb(241, 205, 179);
  border-radius: 0.6rem;
  box-sizing: border-box;
}
.inAddition-inner__info__card__number {
  font-family: Georgia;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 1.53333rem */
  letter-spacing: 0.08rem;
  color: rgb(84, 84, 84);
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.inAddition-inner__info__text-item {
  font-family: Arial;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 400;
  line-height: 150%; /* 1.2rem */
  color: rgb(178, 178, 178);
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media (max-width: 950px) {
  .inAddition-inner {
    flex-direction: column;
    align-items: center;
  }
  .inAddition-inner__img {
    order: 1;
  }
  .inAddition-inner__info {
    row-gap: 1.33rem;
    margin-bottom: 4rem;
  }
}
@media (max-width: 450px) {
  .inAddition-inner {
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
    padding-left: 0.67rem;
    padding-right: 0.67rem;
  }
  .inAddition-inner__info {
    align-items: center;
    box-sizing: content-box;
  }
  .inAddition-inner__info__title-item {
    text-align: center;
    font-size: 1.66667rem;
    font-family: Georgia;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.1rem;
  }
  .inAddition-inner__info__subtitle-item {
    font-family: Georgia;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 1.6rem */
    letter-spacing: 0;
  }
  .inAddition-inner__info__card {
    max-width: 18.73rem;
  }
  .inAddition-inner__info__card__number {
    font-family: Georgia;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 1.1rem */
    letter-spacing: 0.06rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: rgb(84, 84, 84);
    line-height: 160%; /* 1.6rem */
  }
}
.footer {
  background-image: url(../../../assets/images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2.67rem;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 2.67rem;
  max-width: 18.6rem;
}
.footer__contacts__title {
  font-size: 2.33333rem;
  font-family: Georgia;
  font-weight: 400;
  line-height: 3.03333rem;
  letter-spacing: 0.14rem;
  color: rgb(84, 84, 84);
  margin-block-start: 0em;
  margin-block-end: 0em;
  letter-spacing: 0.14rem;
  color: #ffffff;
}
.footer__contacts__email {
  margin-left: 50px;
  font-family: Georgia;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 1.53333rem */
  letter-spacing: 0.08rem;
  color: rgb(84, 84, 84);
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: rgb(241, 205, 179);
  text-decoration: none;
  position: relative;
}
.footer__contacts__email::before {
  position: absolute;
  content: url(../../../assets/icons/icon-email.svg);
  left: -50px;
  top: -5px;
}
.footer__contacts__tel {
  font-family: Georgia;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 1.53333rem */
  letter-spacing: 0.08rem;
  color: rgb(84, 84, 84);
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-left: 50px;
  color: rgb(241, 205, 179);
  text-decoration: none;
  position: relative;
}
.footer__contacts__tel::before {
  position: absolute;
  content: url(../../../assets/icons/icon-phone.svg);
  left: -50px;
  top: -5px;
}
.footer__address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 2.27rem;
  max-width: 20.2rem;
}
.footer__address__title {
  font-size: 2.33333rem;
  font-family: Georgia;
  font-weight: 400;
  line-height: 3.03333rem;
  letter-spacing: 0.14rem;
  color: rgb(84, 84, 84);
  margin-block-start: 0em;
  margin-block-end: 0em;
  letter-spacing: 0.14rem;
  color: #ffffff;
}
.footer__address__first {
  display: block;
  margin-left: 50px;
  font-family: Georgia;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 1.53333rem */
  letter-spacing: 0.08rem;
  color: rgb(84, 84, 84);
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: rgb(241, 205, 179);
  text-decoration: none;
  position: relative;
}
.footer__address__first::before {
  position: absolute;
  content: url(../../../assets/icons/icon-marker.svg);
  left: -50px;
  top: 5px;
}
.footer__address__second {
  display: block;
  margin-left: 50px;
  font-family: Georgia;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 1.53333rem */
  letter-spacing: 0.08rem;
  color: rgb(84, 84, 84);
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: rgb(241, 205, 179);
  text-decoration: none;
  position: relative;
}
.footer__address__second::before {
  position: absolute;
  content: url(../../../assets/icons/icon-marker.svg);
  left: -50px;
  top: -5px;
}

@media (max-width: 1000px) {
  .footer-inner {
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 2rem 0 2rem;
  }
  .footer__img {
    padding-top: 4.33rem;
  }
}
@media (max-width: 655px) {
  .footer-inner {
    padding: 0rem 1.4rem 0 1.4rem;
  }
  .footer__contacts {
    justify-content: center;
    row-gap: 3rem;
    margin-bottom: 2.67rem;
  }
  .footer__contacts__title {
    font-size: 1.66667rem;
    font-family: Georgia;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  .footer__address {
    justify-content: center;
    row-gap: 3rem;
  }
  .footer__address__title {
    text-align: center;
    font-size: 1.66667rem;
    font-family: Georgia;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.1rem;
  }
  .footer__img {
    padding-top: 4.33rem;
  }
}

/*# sourceMappingURL=style.css.map */
